<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TaskServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TaskServer.Properties.Settings>
            <setting name="DYNAMSOFT_SCRIPT_PATH" serializeAs="String">
                <value>C:\junk\dynamsoft.py</value>
            </setting>
            <setting name="PYTHON_PATH" serializeAs="String">
                <value>C:\Users\FutabaAdmin\AppData\Local\Programs\Python\Python313\python.exe</value>
            </setting>
            <setting name="RESULTS_PATH" serializeAs="String">
                <value>C:\junk\barcode_results.txt</value>
            </setting>
            <setting name="ARCHIVE_PATH" serializeAs="String">
                <value>C:\junk\archive</value>
            </setting>
        </TaskServer.Properties.Settings>
    </userSettings>
</configuration>